.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 50px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-fixed;
  background: $white;
  background: linear-gradient(0deg, rgba($white,0) 0%, rgba($white,1) 40%);

  &__brand {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;

    &__image {
      max-height: 50px;
    }
  }

  @include media-breakpoint-up(lg) {
    background: $transparent;
    padding: 60px 80px 0 80px;

    &__brand {
      width: 260px;
    }
  }
}
