.intro {
  align-items: center;
  background-color: #EF540E;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-modal;

  &__wrapper {
    color: $white;
    max-width: 600px;
    text-align: center;
  }

  &__button {
    appearance: none;
    background-color: $white;
    border-radius: 40px;
    border: 1px solid $white;
    color: $black;
    color: $dark;
    font-weight: $font-weight-bold;
    padding: 15px 30px;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($white, 10%);
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 100px;
  }
}
