.add-milestone
  button.add-milestone__button Agregar hito

  .add-milestone__form
    .p-30
      .d-flex.justify-content-between.align-items-center.mb-25
        h4.mb-0.font-size-24 Agregar hito
        button.add-milestone__close X
      form(action="")
        .row
          .col-sm-6.mb-20
            label.font-weight-bold Año
            select(name="year")
              option(value="2001") 2001
              option(value="2002") 2002
              option(value="2003") 2003
              option(value="2004") 2004
              option(value="2005") 2005
              option(value="2006") 2006
              option(value="2007") 2007
              option(value="2008") 2008
              option(value="2009") 2009
              option(value="2010") 2010
              option(value="2011") 2011
              option(value="2012") 2012
              option(value="2013") 2013
              option(value="2014") 2014
              option(value="2015") 2015
              option(value="2016") 2016
              option(value="2017") 2017
              option(value="2018") 2018
              option(value="2019") 2019
              option(value="2020") 2020

          .col-sm-6.mb-20
            label.font-weight-bold Mes
            select(name="month")
              option(value="0") No me acuerdo
              option(value="1") Enero
              option(value="2") Febrero
              option(value="3") Marzo
              option(value="4") Abril
              option(value="5") Mayo
              option(value="6") Junio
              option(value="7") Julio
              option(value="8") Agosto
              option(value="9") Septiembre
              option(value="10") Octubre
              option(value="11") Noviembre
              option(value="12") Diciembre

          .col-12.mb-20
            label.font-weight-bold Mensaje
            input(type="text", name="title", maxlength="80")

          .col-12.text-center
            button.add-milestone__button Agregar
