.intro
  .intro__wrapper
    h1.mb-30 Bienvenido
    p.mb-30 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi dolorem possimus expedita praesentium blanditiis, voluptate fuga saepe. Modi quam mollitia rem illum iure atque repellat fugiat eaque quidem blanditiis.
    button.intro__button Ver historia
