mixin milestone()
  li.milestone(class!=attributes.class)
    .milestone__dot
    .milestone__info
      span.milestone__month Febrero
      h3.milestone__title Dato importante
      p.milestone__text Agregado por Jhon Doe
