include milestone

ul.timeline
  li.timeline__item
    .timeline__year
      h2 2000
    ul.timeline__milestones
      +milestone
      +milestone
      +milestone
      +milestone
  li.timeline__item
    .timeline__year
      h2 2001
    ul.timeline__milestones
      +milestone
      +milestone
      +milestone
      +milestone
  li.timeline__item
    .timeline__year
      h2 2002
    ul.timeline__milestones
      +milestone(class="milestone--current milestone--featured")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2003
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2004
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2005
    ul.timeline__milestones
      +milestone(class="milestone--current milestone--featured")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2006
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year(data-year="2007")
      h2 2007
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2008
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2009
    ul.timeline__milestones
      +milestone(class="milestone--current milestone--featured")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2010
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2011
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2012
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2013
    ul.timeline__milestones
      +milestone(class="milestone--current milestone--featured")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2014
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2015
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year(data-year="2016")
      h2 2016
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2017
    ul.timeline__milestones
      +milestone(class="milestone--current milestone--featured")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2018
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2019
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
  li.timeline__item.timeline__item--current
    .timeline__year
      h2 2020
    ul.timeline__milestones
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")
      +milestone(class="milestone--current")


