@mixin button($color, $contrast) {
  background-color: $color;
  border-color: $color;
  color: $contrast;

  &:hover {
    background-color: $color;
    border-color: $color;
    color: $contrast;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px #{'rgba($color, 0.25)'};
  }
}

@mixin button-outline($color, $contrast) {
  background-color: $transparent;
  border-color: $color;
  color: $color;

  &:hover {
    background-color: $color;
    color: $contrast;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px #{'rgba($color, 0.25)'};
  }
}
