*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // sass-lint:disable-all
  -webkit-tap-highlight-color: #{'rgba($black, 0)'};
  -webkit-text-size-adjust: 100%;
  // sass-lint:enable-all
  font-family: sans-serif;
  line-height: 1.15;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin: 0;
  text-align: left;
}

[tabindex='-1'] {
  &:focus {
    outline: 0 !important;
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $headings-margin-bottom;
  margin-top: 0;
}

p {
  margin-bottom: $paragraph-margin-bottom;
  margin-top: 0;
}

abbr {
  &[title],
  &[data-original-title] {
    border-bottom: none;
    cursor: help;
    // sass-lint:disable-all
    text-decoration-skip-ink: none;
    text-decoration: underline dotted;
    text-decoration: underline;
    // sass-lint:enable-all
  }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

ol,
ul {
  ol,
  ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: $font-weight-bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: 1em;
}

pre {
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  border-style: none;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color: $text-muted;
  padding-bottom: 0.75rem 10px;
  padding-top: 0.75rem 10px;
  text-align: left;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: $label-margin-bottom;
}

button {
  border-radius: 0;

  &:focus {
    outline: 1px dotted;
    // sass-lint:disable-all
    outline: 5px auto -webkit-focus-ring-color;
    // sass-lint:enable-all
  }
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  // sass-lint:disable-all
  -webkit-appearance: button;
  // sass-lint:enable-all

  &:not(:disabled) {
    cursor: pointer;
  }

  // sass-lint:disable-all
  &::-moz-focus-inner {
    // sass-lint:enable-all
    border-style: none;
    padding: 0;
  }
}

input {
  &[type='radio'],
  &[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
  }

  &[type='date'],
  &[type='time'],
  &[type='datetime-local'],
  &[type='month'] {
    // sass-lint:disable-all
    -webkit-appearance: listbox;
    // sass-lint:enable-all
  }
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  border: none;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  color: inherit;
  display: block;
  font-size: 1.5rem;
  line-height: inherit;
  margin-bottom: 0.5rem;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}

progress {
  vertical-align: baseline;
}

[type='number'] {
  // sass-lint:disable-all
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    // sass-lint:enable-all
    height: auto;
  }
}

[type='search'] {
  // sass-lint:disable-all
  -webkit-appearance: none;
  // sass-lint:enable-all
  outline-offset: -2px;
}

// sass-lint:disable-all
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
// sass-lint:enable-all

// sass-lint:disable-all
::-webkit-file-upload-button {
  -webkit-appearance: button;
  // sass-lint:enable-all
  font: inherit;
}

output {
  display: inline-block;
}

summary {
  cursor: pointer;
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
