/** Some family fonts */
// @each $font-family, $font-suffix, $font-weight, $font-style in (Montserrat, Thin, 100, normal), (Montserrat, ThinItalic, 100, italic), (Montserrat, ExtraLight, 200, normal), (Montserrat, ExtraLightItalic, 200, italic), (Montserrat, Light, 300, normal), (Montserrat, LightItalic, 300, italic), (Montserrat, Regular, 400, normal), (Montserrat, Italic, 400, italic), (Montserrat, Medium, 500, normal), (Montserrat, MediumItalic, 500, italic), (Montserrat, SemiBold, 600, normal), (Montserrat, SemiBoldItalic, 600, italic), (Montserrat, Bold, 700, normal), (Montserrat, BoldItalic, 700, italic), (Montserrat, ExtraBold, 800, normal), (Montserrat, ExtraBoldItalic, 800, italic), (Montserrat, Black, 900, normal), (Montserrat, BlackItalic, 900, italic) {
//   @font-face {
//     font-family: '#{$font-family}';
//     src: url('#{$font-path}/#{$font-family}-#{$font-suffix}.eot');
//     src:
//       url('#{$font-path}/#{$font-family}-#{$font-suffix}.eot?#iefix') format('embedded-opentype'),
//       url('#{$font-path}/#{$font-family}-#{$font-suffix}.woff2') format('woff2'),
//       url('#{$font-path}/#{$font-family}-#{$font-suffix}.woff') format('woff'),
//       url('#{$font-path}/#{$font-family}-#{$font-suffix}.ttf') format('truetype'),
//       url('#{$font-path}/#{$font-family}-#{$font-suffix}.svg##{$font-family}-#{$font-suffix}') format('svg');
//     font-weight: #{$font-weight};
//     font-style: #{$font-style};
//   }
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Icons
@font-face {
  font-family: '#{$icons-font-family}';
  src: url('#{$font-path}/#{$icons-font-family}.eot?');
  src:
    url('#{$font-path}/#{$icons-font-family}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/#{$icons-font-family}.ttf?') format('truetype'),
    url('#{$font-path}/#{$icons-font-family}.woff?') format('woff'),
    url('#{$font-path}/#{$icons-font-family}.svg?##{$icons-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icons-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // sass-lint:enable-all
}

@each $icon in map-keys($icons) {
  .icon-#{$icon} {
    &::before {
      content: map-get($icons, $icon);
    }
  }
}
