// Color system
$white: #fff;
$light: #f5f5f5;
$dark: #515151;
$black: #1f191a;

$red: #F2592E;
$yellow: #FCD042;
$orange: #F59030;

$transparent: transparent;

$colors: ();
$colors: map-merge(
  (
    "red": $red,
    "yellow": $yellow,
    "orange": $orange,
    "black": $black,
    "white": $white,
    "transparent": $transparent,
    "light": $light,
    "dark": $dark
  ),
  $colors
);

$primary: $orange;
$secondary: $yellow;
$light: $light;
$dark: $dark;
$black: $black;
$white: $white;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $orange,
    "secondary": $yellow,
    "light": $light,
    "dark": $dark,
    "black": $black,
    "white": $white
  ),
  $theme-colors
);

// Options
$enable-deprecation-messages: true;

// Spacing
$spacer: 10px;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    5: (
      $spacer * 0.5
    ),
    10: (
      $spacer * 1
    ),
    15: (
      $spacer * 1.5
    ),
    20: (
      $spacer * 2
    ),
    25: (
      $spacer * 2.5
    ),
    30: (
      $spacer * 3
    ),
    35: (
      $spacer * 3.5
    ),
    40: (
      $spacer * 4
    ),
    50: (
      $spacer * 5
    ),
    60: (
      $spacer * 6
    ),
    70: (
      $spacer * 7
    ),
    80: (
      $spacer * 8
    ),
    90: (
      $spacer * 9
    ),
    100: (
      $spacer * 10
    ),
    110: (
      $spacer * 11
    ),
    120: (
      $spacer * 12
    ),
    130: (
      $spacer * 13
    ),
    140: (
      $spacer * 14
    ),
    150: (
      $spacer * 15
    )
  ),
  $spacers
);

$sizes: ();
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Body
$body-bg: $white;
$body-color: $dark;

// Links
$link-color: $black;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: underline;
$emphasized-link-hover-darken-percentage: 15%;

// Paragraphs
$paragraph-margin-bottom: 1rem;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1720px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px,
  xxxl: 1660px
);

// Grid columns
$grid-columns: 12;
$grid-gutter-width: 30px;

// Components
$border-width: 1px;
$border-color: $dark;

$border-radius: 0.25rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;

$rounded-pill: 50rem;

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0 0.6rem rgba($black, 0.17) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

// Typography
$font-path: "../assets/fonts";

$font-montserrat: Montserrat;

$font-families: (
  montserrat: $font-montserrat
);

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-montserrat, sans-serif;
$font-family-text: $font-montserrat, sans-serif;

$font-size-base: 16px;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.3;

$h1-font-size: 45px;
$h2-font-size: $font-size-base * 2;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 15px;
$h6-font-size: $font-size-base;

$headings-font-family: $font-montserrat, sans-serif;
$headings-margin-bottom: $spacer;
$headings-font-weight: $font-weight-bold;
$headings-line-height: 1.2;
$headings-color: null;

$small-font-size: 80%;

$text-muted: $light;

$hr-border-color: #{'rgba($black, 0.1)'};
$hr-border-width: $border-width;

$dt-font-weight: $font-weight-bold;

$list-inline-padding: 0.5rem;

$mark-padding: 0.2em;
$mark-bg: #fcf8e3;

$hr-margin-y: $spacer;

// Icons
$icons-font-family: "Icons";

$icon-angle-down: "\e900";
$icon-angle-left: "\e901";
$icon-angle-right: "\e902";
$icon-angle-up: "\e903";
$icon-facebook: "\e904";
$icon-instagram: "\e905";
$icon-linkedin: "\e906";

$icons: (
  angle-down: $icon-angle-down,
  angle-left: $icon-angle-left,
  angle-right: $icon-angle-right,
  angle-up: $icon-angle-up,
  facebook: $icon-facebook,
  instagram: $icon-instagram,
  linkedin: $icon-linkedin
);

// Forms
$label-margin-bottom: 0.5rem;

// Z-index master list
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-menu: 1030;
$zindex-fixed: 1035;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

// Utilities
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex;
$overflows: auto, hidden, visible;
$positions: static, relative, absolute, fixed, sticky;
$cursors: pointer, not-allowed, none, move;
$medidas: 40, 50, 60, 70, 80, 90, 100, 150, 200, 250, 300, 350, 400, 450, 500;
