<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Timeline
  body
    include includes/header

    main
      include components/intro

      include components/timeline

      include components/add-milestone
